.low-usage {
  color: green;
}

.medium-usage {
  color: orange;
}

.high-usage {
  color: red;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  border: 3px solid grey;
  text-align: center;
  background: #ecece4;
}

h1 {
  margin: 15px 0 15px 0;
  font-size: 50px;
}

div#display {
  border: 2px solid black;
  background: rgba(109, 103, 103, 0.36);
  width: 20em;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

input#city {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: left;
}

button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 18px 10px 18px;
  text-decoration: none;
}

button#temperature-up {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 50px;
  width: 60px;
  height: 60px;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  position: relative;
  left: 290px;
  bottom: 130px
}

button#temperature-down {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 50px;
  width: 60px;
  height: 60px;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  position: relative;
  left: 227px;
  bottom: 60px
}

button#temperature-up {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 50px;
  width: 60px;
  height: 60px;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  position: relative;
  left: 290px;
  bottom: 130px
}

button#temperature-reset {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 18px 10px 18px;
  text-decoration: none;
  margin: auto;
  width: 50%;
}

button:hover {
  background: #145278;
  text-decoration: none;
}

html {
  background-image: url(http://www.clipartkid.com/images/789/brick-wall-background-clipart-brick-background-clipart-DK7laO-clipart.jpg);
  background-size: 1000px 800px
}
